module %{module} (
    version,
    getDataDir,
    getDataFileName,
    ) where

import Data.Version (Version, makeVersion)
import Google.Runtime.BuildHelper
import System.FilePath ((</>))

getDataDir :: IO FilePath
getDataDir = do
  dir <- findRunfilesDirOrDie
  return $ dir </> "google3" </> "%{base_dir}"

getDataFileName :: FilePath -> IO FilePath
getDataFileName name = do
    dir <- getDataDir
    return (dir </> name)

-- TODO:
version :: Version
version = makeVersion %{version}
